.RowMeals{
    align-content: center;
}
.CardInImg{
    width: 20%;
    height: 20%;
    border-radius: 50%;
}
.CardInImgL:hover{
    box-shadow: 2px 2px 2px red;
}
.error{
    position: absolute;
    top: 20%;
    right: 40%;
    padding: 50px;
    font-size: 100px;
    color: rgb(27, 24, 24);
}
.imgerror{
    width: 70px;
    height: 70px;

}